<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<suite name="SUite" >
    <!-- <listeners>
        <listener class-name="Utilities.TestListener"/>
    </listeners> -->
    
    <test name="Oxo" testid="1,2,3" priority="P1" description="This script will cover Regression Process of oxo">
     <parameter name="browser" value="chrome"/>   
        <classes>
            <class name="TestExecute.Oxo.OxoBusiness"/>
        </classes>
    </test>
   
    
  </suite>  